<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0f131e] h-full;
<<<<<<< HEAD
    font-family: "Poppins", sans-serif;
=======
    font-family: 'Poppins', sans-serif;
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
  }
}

@layer components {
  .main-container {
    @apply max-w-[1640px] px-5 lg:px-20 mx-auto;
  }
  .nav-link {
    @apply text-[1.2em] leading-tight font-light text-[#fefefe] hover:text-skin-pink;
  }
  .text-stroke-white {
    -webkit-text-stroke: 3px #d23999;
    color: #fcfcfc;
  }
  .shadow-gradient {
    /* background: radial-gradient(
      46.45% 35.45% at 50% 46.16%,
      rgba(1, 9, 80, 0.9) 3.12%,
      rgba(14, 17, 32, 0) 100%
    ); */
    background: radial-gradient(
      61.45% 58.45% at 49% 51.16%,
      rgba(94, 25, 98, 97),
      rgba(63, 85, 48, 0) 100%
    );
  }
}
/* Table */

/* Table styles customizing  */

.comparison {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  overflow-x: auto;
  margin-top: calc(140px * var(--ZOOM-MULTIPLIER));
  background-color: #191d27;
  border-radius: 16px;
}

.comparison table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}

.comparison td,
.comparison th {
  color: #fcfcfc;
  empty-cells: show;
  padding: 10px;
}

.comparison th {
  font-weight: normal;
  padding: 0;
  border-top: 0px solid #e8e8e8;
  border-bottom: 0px solid #e8e8e8;
}

.comparison th.product:nth-child(2) {
  min-width: 165px;
}

.comparison tr td:first-child {
  text-align: left;
  padding: 15px;
}

.comparison .product,
.comparison .tl {
  color: #fcfcfc;
  padding: 10px;
  font-size: 14px;
}

.comparison .tl2 {
  border-right: 0;
}

.comparison .product {
  background: #191d27;
  height: 40px;
  font-size: 1.2em;
  color: #fff;
}

.feature-image {
  position: absolute;
  bottom: 100%;
  left: 58%;
}
.feature-image {
  left: 0%;
  width: 100%;
  height: 100px;
}

.pink {
  animation: bottomToTop 5s linear 0s infinite;
}

.green {
  animation: bottomToTop 5s linear 0.85s infinite;
}

.yellow {
  animation: bottomToTop 5s linear 1.7s infinite;
}

.purple {
  animation: bottomToTop 5s linear 2.55s infinite;
}

.blue {
  animation: bottomToTop 5s linear 3.4s infinite;
}

.orange {
  animation: bottomToTop 5s linear 4.25s infinite;
}
@keyframes bottomToTop {
  0% {
    bottom: -100%;
    opacity: 0;
  }

  50% {
    bottom: 0;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
.slick-arrow {
  display: none !important;
}
.slick-dots li button:before {
<<<<<<< HEAD
  font-family: "slick";
=======
  font-family: 'slick';
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
  font-size: 14px !important;
  line-height: 20px;

  width: 35px !important;
  height: 35px !important;

  opacity: 0.25;
  color: white !important;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: purple !important;
}

/* vertical */
.wrapper {
  margin-top: 10rem;
}
.wrapper .outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  animation: animate 6s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .card {
  animation-play-state: paused;
}
.wrapper .card:last-child {
  animation-delay: calc(-1s * var(--delay));
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
  65%,
  85% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
.card .content {
  display: flex;
  align-items: center;
}

.card .details {
  margin-left: 80px;
}
.details span {
  font-weight: 600;
  font-size: 18px;
}
.card a {
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.3s ease;
}
.card a:hover {
  transform: scale(0.94);
}

<<<<<<< HEAD
=======


>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
/* Tabs to be displayed */

.tab-wrapper {
  width: 100%;
  box-sizing: border-box;
}

.tabs {
  position: relative;
  margin: 3rem 0;
}

.tabs::before,
.tabs::after {
<<<<<<< HEAD
  content: "";
=======
  content: '';
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #4845ff;
  border-right: 0.125rem solid #4845ff;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}

.tab-content2 {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  color: #2c3e50;
  opacity: 0;
  transition: all 0.35s;
}

<<<<<<< HEAD
.tab-switch:checked + .tab-label {
=======
.tab-switch:checked+.tab-label {
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}

<<<<<<< HEAD
.tab-switch:checked + label + .tab-content2 {
=======
.tab-switch:checked+label+.tab-content2 {
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

label.nav-header-links {
  cursor: pointer;
}

<<<<<<< HEAD
.tab-switch:checked + label {
  position: relative;
}

.tab-switch:checked + label::after {
=======
.tab-switch:checked+label {
  position: relative;
}

.tab-switch:checked+label::after {
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
<<<<<<< HEAD
  background: transparent
    linear-gradient(90deg, #ff387a 0%, #e6398c 17%, #a63eba 52%, #4845ff 100%)
    0% 0% no-repeat padding-box;
  border-radius: 0.9648812413215637px 0.964881181716919px 0.9648812413215637px
    0.9648812413215637px;
  content: "";
}

=======
  background: transparent linear-gradient(90deg, #ff387a 0%, #e6398c 17%, #a63eba 52%, #4845ff 100%) 0% 0% no-repeat padding-box;
  border-radius: 0.9648812413215637px 0.964881181716919px 0.9648812413215637px 0.9648812413215637px;
  content: '';
}


>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
/* Token Sale Stage-Properties. */

.token-sale .nav-header-links {
  color: #ffffff;
}

.token-sale .token-sale-table .token-sale-table {
  padding: 0;
}

.token-sale-section {
  width: 100%;
}

.token-sale {
  /* margin-top: calc(140px * var(--ZOOM-MULTIPLIER)); */
  position: relative;
}

.token-sale-title {
  padding-left: calc(25% * var(--ZOOM-MULTIPLIER));
  padding-right: calc(25% * var(--ZOOM-MULTIPLIER));
  margin-top: calc(70px * var(--ZOOM-MULTIPLIER));
  color: #fff;
  font-size: calc(60px * var(--ZOOM-MULTIPLIER));
  line-height: calc(72px * var(--ZOOM-MULTIPLIER));
  text-align: center;
  margin-bottom: calc(35px * var(--ZOOM-MULTIPLIER));
}

.token-sale-sub-title {
  padding-left: calc(25% * var(--ZOOM-MULTIPLIER));
  padding-right: calc(25% * var(--ZOOM-MULTIPLIER));
  margin-bottom: calc(35px * var(--ZOOM-MULTIPLIER));
  color: #7498b5;
  font-size: calc(24px * var(--ZOOM-MULTIPLIER));
  line-height: calc(34px * var(--ZOOM-MULTIPLIER));
  display: flex;
  justify-content: center;
}

.sub-title-text {
  width: 100%;
}

.token-sale-table {
  padding-left: calc(25% * var(--ZOOM-MULTIPLIER));
  padding-right: calc(25% * var(--ZOOM-MULTIPLIER));
  z-index: 3;
}

.token-sale-table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(30px * var(--ZOOM-MULTIPLIER));
<<<<<<< HEAD
  margin: 30px 220px 30px 220px ;

=======
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
}

.table-header .header-text {
  color: #4845ff;
}

.header-text {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
<<<<<<< HEAD
.header-text-last-child{
  width: 250px;
}
=======
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1

.token-sale {
  background: #191753;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

<<<<<<< HEAD
.token-sale-title {
}
=======
.token-sale-title {}
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1

.token-sale-table-container {
  z-index: 3;
}

.token-sale-table-row.table-row {
  background: #4845ff;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 17px;
<<<<<<< HEAD
  margin: 0 220px 30px;
=======
  
  margin: 0 0 24px;
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
}

.row-image {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-sale-row-image {
  height: 50%;
  width: auto;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 10.23px;
}

.withbgpad {
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 10.23px;
  box-sizing: border-box;
}

.table-footer {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 17px;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
}

.header-text.footer-launch {
  font-size: calc(50px * var(--ZOOM-MULTIPLIER));
  line-height: calc(60px * var(--ZOOM-MULTIPLIER));
}

.token-sale-bg {
  width: calc(600px * var(--ZOOM-MULTIPLIER));
  height: auto;
  position: absolute;
}

.token-sale-left-bg {
  background-image: url(/img/token-sale-left.svg);

  left: calc(-20% * var(--ZOOM-MULTIPLIER));
  top: calc(25% * var(--ZOOM-MULTIPLIER));
  z-index: 1;
  height: 100%;
  background-size: contain;
}

.token-sale-right-bg {
  background-image: url(/img/token-sale-right.svg);
  right: calc(-19% * var(--ZOOM-MULTIPLIER));
  top: calc(-19% * var(--ZOOM-MULTIPLIER));
  z-index: 1;
  height: 108%;
}

<<<<<<< HEAD
.hover-btn:hover {
  color: white;
  border-color: white;
}

.margin-img{
  margin-top: -80px; 
  margin-left: 130px;
  width: 80%;
}
.margin-glow{
  margin-top: -40px;
  margin-left: -27px;
  width: 50%;
}

.testimonial-play-button {
  width: 6.6vw;
  height: 6.6vw;
  right: 17%;
  top: calc(50% - 40px);
  cursor: pointer;
}
.testimonial-play-button-mobile{
  display: none;
}

.testimonial-play-button:hover{
  opacity: 0.9;
  transform: scale(1.1);
  transition: all .5s ease-in-out;
}

.testimonial-play-button:active{
  opacity: 0.5;
}
=======
>>>>>>> eccb218c5b0e47cba9ebbf343b52bb87864082b1
